/*** SYSTEM ***/

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.6) 100%) center center / cover no-repeat fixed, url('../img/background.jpg') center center / cover no-repeat fixed;
  font-family: 'Montserrat', sans-serif;
  font-size: 10pt;
  color: white;
}

/*** CLOCK ***/
canvas {
  position: fixed;
  top: 5em;
  left: 50%;
  width: 16em;
  margin-left: -8em;
}

@media screen and (min-width: 768px) {
  canvas {
    right: 5em;
    width: 20em;
    left: auto;
    margin-left: auto;
  } 
}

/*** WEATHER ***/
.weather-form input {
  background-color: rgba(0, 0, 0, .5);
  line-height: 2.5em;
  font-size: 1em;
  font-family: inherit;
  border: none;
  padding: 0 .5em;
  width: 100%;
  display: block;
  margin-bottom: .5em;
  color: white;
  outline: none;
  border-radius: .3em;
}

.weather-form {
  position: fixed;
  top: 7em;
  left: 7em;
  width: 15%;
}

.weather[status="hidden"], .weather-form[status="hidden"] {
  display: none;
}

.weather-form .error {
  background-color: #ff7979;
  line-height: 2em;
  padding: 0 .5em;
  border-radius: .3em;
  margin-bottom: .5em;
  text-align: center;
}

.weather-form button {
  background-color: black;
  color: white;
  border: none;
  font-size: inherit;
  font-family: inherit;
  line-height: 2em;
  padding: .2em .5em;
  width: 100%;
  display: block;
  cursor: pointer;
}

.weather {
  position: fixed;
  top: 1em;
  left: 1em;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 2em);
}

.weather .temp {
  font-size: 2em;
}

.weather .temp:after {
  content: '°C';
  font-size: .5em;
  vertical-align: top;
  display: inline-block;
  padding-top: .1em;
  padding-left: .2em;
}

.weather .temp:before {
  content: "\e01c";
  padding-top: .15em;
  
}

.weather .humi {
  font-size: 2em;
}

.weather .humi:after {
  content: '%';
  font-size: .5em;
  vertical-align: bottom;
  display: inline-block;
  padding-bottom: .1em;
  padding-left: .2em;
}

.weather .humi:before {
  content: '\e03e';
  padding-top: .15em;
}

.weather .temp:before, .weather .humi:before {
  font-family: 'simple-line-icons';
  font-size: 14pt;
  margin-right: 7pt;
  vertical-align: top;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .weather {
    top: 7em;
    left: 7em;
    display: unset;
  }

  .weather .temp {
    font-size: 10em;
  }

  .weather .temp:before {
    padding-top: 1em;
  }

  .weather .humi {
    font-size: 3em;
  }

  .weather .humi:before {
    padding-top: .4em;
  }
}

/*** DOCK ***/
.dock {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 5em;
}

.dock a.item {
  width: 64px;
  height: 64px;
  display: inline-block;
  transition: all .2s;
  margin: 0 .8em;
}

.dock a.item:hover {
  transform: scale(1.3);
}

.dock a.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}